/* Balloons and other decorative elements */
.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
  /* Ensure inside content stays behind */
  clip-path: inset(0);
}

p {